/* styles.css */
/* Header */
header {
    padding: 10px; /* Padding to the header to create space around its content */
    background-color: white;
}
/* Header-navigation bar */
.navbar {
    margin: 0px 0px 00px 100px;
    display: flex;
    align-items: center; /* Vertically align items in the center */
}

.navbar img {
    width: 100px; /* Desired width */
    height: auto; /* Aspect ratio */
    margin-right: 100px;
}
.navbar a {
    margin: 20px 40px 0px 40px; /* Margin between the links */
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
    align-items: center;
    color: #8c52ff;
    text-decoration: none;
}

/* The dropdown button */
.dropbtn {
    background-color: transparent;
    color: #000;
    border: none;
    cursor: pointer;
    text-decoration: none; /* Remove default link underline */
}

/* The dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Styling the links inside the dropdown */
.dropdown-content a {
    color: #8c52ff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color:#b970de;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.join-us-button {
    background-color:  #8c52ff; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 40px; /* Optional: Rounded corners */
}

/* Body */
/* Body-Home */
#home {    
    margin: 10px;
    padding: 0px;
}
.home-content, .services-content, .group-content {
    width: 50%;
    height: 90%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 20px;
    border-radius: 10px; /* Optional: Rounded corners */
}
/* Image container styling */
.home-image, .services-image, .group-image {    
    width: 50%;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    border: 10px solid white; /* Border for clarity */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px; /* Optional: Rounded corners */
}
/* Image styling */
.home-image img, .services-image img, .group-image img {
    width: 100%; /* Ensures the image takes up 100% width of the container */
    height: 100%; /* Ensures the image takes up 100% height of the container */
    object-fit: cover; /* Makes sure the image covers the entire container */
    border-radius: 0px; /* Optional: Rounded corners */
    background-color: #f9f9f9;    
}

/* Introduction styling */
.home-intro {
    background-color: #b970de;
    display: flex;  
    justify-content: space-between;
    border-radius: 10px; /* Optional: Rounded corners */
}
.home-intro h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: purple;
    text-align: left;
}
.home-intro p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-align: justify;
    line-height: 2.0;
}
/* Vision styling */
.home-vision {
    background-color: #8c52ff;
    display: flex;    
    justify-content: space-around;
    border-radius: 10px; /* Optional: Rounded corners */
}
.home-vision h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: black;
    text-align: left;
}
.home-vision p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
    text-align: justify;
    line-height: 2.0;
}
/* Mission styling */
.home-mission {
    background-color: #0097b2;
    display: flex;
    justify-content: space-around;
    border-radius: 10px; /* Optional: Rounded corners */
}
.home-mission h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    text-align: left;
}
.home-mission p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-align: justify;
    line-height: 2.0; 
}
/* Body-About */
#about {
background-color: #b970de;
padding: 10px;
margin: 10px;
}
.about h{
    color: purple;  
}

/* About Sections styling */
.about-sections, .about-sections2, .about-sections3, .about-sections4{
    display: flex;
    justify-content: space-around;
}
.about-sections h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: purple;
    text-align: left;
}
.about-sections p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-align: justify;
    line-height: 2.0;
}

/*Values styling */
.values-sections {
    background-color: white;
}
.values-sections h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: purple;
    text-align: left;
}
.values-sections p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-align: justify;
    line-height: 2.0;
}

/* Values containers styling */
.circle-container {
    width: 120px;  /* Width of the circle */
    height: 120px; /* Height of the circle */
    background-color: #0097b2; /* Grass green color */
    border-radius: 50%; /* Makes the container circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    text-align: center;
}
.circle-container1 {
    width: 120px;  /* Width of the circle */
    height: 120px; /* Height of the circle */
    background-color: #8c52ff; /* Grass green color */
    border-radius: 50%; /* Makes the container circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    text-align: center;
}

.circle-container2 {
    width: 120px;  /* Width of the circle */
    height: 120px; /* Height of the circle */
    background-color: #b970de; /* Grass green color */
    border-radius: 50%; /* Makes the container circular */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    text-align: center;
}
/* Body-Services*/
#services {    
    margin: 10px;
    padding: 0px;
}
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px; /* Adjust the gap between elements if needed */
}
/* Services content styling */
.services-content {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 20px;   
    border-radius: 10px; /* Optional: Rounded corners */
}

.information-hub {
    background-color: #8c52ff;
    display: flex;   
    justify-content: space-around;
    align-items: center;   
}
.information-hub h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: black;
    text-align: left;
}
.information-hub p, li {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
    text-align: justify;
}
.community-networking {
    background-color: #0097b2;
    display: flex;   
    justify-content: space-around;
    align-items: center;   
}
.community-networking h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    text-align: left;
}
.community-networking p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-align: justify;
}
.career-dev {
    background-color: #b970de;
    display: flex;   
    justify-content: space-around;
    align-items: center;   
}
.career-dev h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: purple;
    text-align: left;
}
.career-dev p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-align: justify;
    line-height: 2.0;
}
.skills-development {
    background-color: #8c52ff;
    display: flex;   
    justify-content: space-around;
    align-items: center;   
}
.skills-development h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: black;
    text-align: left;
}
.skills-development p, li {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
    text-align: justify;
}
.info-access {
    background-color: #0097b2;
    display: flex;   
    justify-content: space-around;
    align-items: center;   
}
.info-access h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    text-align: left;
}
.info-access p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-align: justify;
    line-height: 2.0;
}
/* Body-Groups*/
#groups {   
    margin: 10px;
    padding: 0px;
}
.groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;    
}

.group-content {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 20px;
    border-radius: 10px; /* Optional: Rounded corners */
}

.group-content h {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.group-content p {
    font-size: 1em;
    line-height: 2.0;
}
.general-category {
    background-color: #b970de;
    display: flex;   
    justify-content: space-around;
    align-items: center;   
}
.general-category h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: purple;
    text-align: left;
}
.general-category p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-align: justify;
    line-height: 2.0;
}
.learning-lounge {
    background-color: #8c52ff;
    display: flex;
    justify-content: space-around; 
}
.learning-lounge h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: black;
    text-align: left;
}
.learning-lounge p, li {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
    text-align: justify;
    line-height: 2.0;
}
.community-spotlight {
    background-color: #0097b2;
    display: flex;
    justify-content: space-around; 
}
.community-spotlight h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    text-align: left;
}
.community-spotlight p, li {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-align: justify;
}
.activity-atlas {
    background-color:#b970de;
    display: flex;
    justify-content: space-around; 
}
.activity-atlas  h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: purple;
    text-align: left;
}
.activity-atlas  p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-align: justify;
    line-height: 2.0;
}
.educareer-hub {
    background-color: #8c52ff;
    display: flex;
    justify-content: space-around; 
}
.educareer-hub h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: black;
    text-align: left;
}
.educareer-hub p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: white;
    text-align: justify;
    line-height: 2.0;
}
.finance-fundamentals {
    background-color: #0097b2;
    display: flex;
    justify-content: space-around; 
}
.finance-fundamentals h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: white;
    text-align: left;
}
.finance-fundamentals p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-align: justify;
}
.marketing-mavericks {
    background-color:#b970de;
    display: flex;
    justify-content: space-around; 
}
.marketing-mavericks  h {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: x-large;
    color: purple;
    text-align: left;
}
.marketing-mavericks  p {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: black;
    text-align: justify;
    line-height: 2.0;
}

.contact-us a {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.contact-us h {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.contact-us p,li {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
}
footer {
    background-color: #8c52ff;
    padding: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
}
